* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} /* THis is for the whole browser*/

/*These are the styling for the biography file*/
body {
  background-color: rgb(153, 207, 225);
  color: black;
  line-height: 1.5;
  padding: 30px;
}

body > div {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px 20px;
  border-radius: 15px;
}

.calc-container {
  width: 450px;
  height: 550px;
  background-color: rgba(30, 30, 102, 0.797);
}

/* .container {
  display: flex;
  justify-content: center;
  align-content: center;
} */

.display-area {
  width: 100%;
  margin-bottom: 10px;
}

#display {
  width: 100%;
  height: 100px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border-radius: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button-forms {
  padding: 15px;
  font-size: 18px;
  border-radius: 8px;
}

#equals {
  grid-column: 4 / 5; /* stay in the 4th column */
  grid-row: 4 / 6; /* span 2 rows */
  height: 100%; /* fill the rows */
  background-color: orange;
}

#clear {
  background-color: red;
}

#all-clear {
  background-color: red;
}
